syntax: glob
Library
Temp
saves
*.pidb
*.sln
*.userprefs
*.csproj
*.orig
*.orig.meta
.DS_Store
thumbs.db
.mayaSwatches
workspace.mel
*.unityproj
*.pidb
Sounds.meta
workspace.mel.meta
obj/
Build/
Build.7z
